@page "/bag"

<div class="container">
    <h1 class="my-bag">My bag</h1>
    <hr class="new">

    <div class="bag-item">
        <div class="bag-img">
            <img src="Image/shop bild.jpg">
        </div>
        <div class="bag-info-price">
            <div class="bag-info">
                <p>Produkt</p>
                <p>pris</p>
                <p>size</p>
                <p>color</p>
                <p>Qty</p>
            </div>
            <div class="bag-price">
                <i class="far fa-trash-alt"></i>
                <p>price</p>
            </div>
        </div>

        <div class="summary">
            <h1 class="o-summary">Order summary</h1>
            <hr>
            <div class="summary-flex">
                <p>Order value</p>
                <p>1180 sek</p>
            </div>
            <div class="summary-flex">
                <p>Shipping</p>
                <p>Free</p>
            </div>
            <div class="summary-flex">
                <p>Add discount code</p>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        %
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">10%</a></li>
                        <li><a class="dropdown-item" href="#">20%</a></li>
                        <li><a class="dropdown-item" href="#">30%</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="summary-flex">
                <p>Total value</p>
                <p>1180 sek</p>
            </div>

            <button class="checkout">CONTINUE TO CHECKOUT</button>
        </div>
    </div>

</div>

@code {

}
