@page "/"




<div class="container">
    <div class="text-center">
        <a>

            <img class="pic logo" src="Image/logo.png">



        </a>
    </div>
    <div class="beside">
        <div class="meny">
            <a><p>What´s new</p></a>
            <a><p>Popular pices</p></a>
            <a><p class="mb-5">Shop by</p></a>
            <a><p>Clothing</p></a>
            <a><p>Shoes</p></a>
            <a><p>Bags</p></a>
            <a><p>Jewellery</p></a>
            <NavLink href="/bag"><p class="shopbag">Shopping bag</p></NavLink>
        </div>
        <div class="product">

            <div class="p-card">
                <img class="s-img" src="Image/shop bild.jpg">
                <div class="price">
                    <p>Price </p>
                    <p>Color</p>
                    <div id="colors" class="color">
                        <button type="button" id="size_1028416002002" data-code="1028416002002" class="red" data-value="red">Red</button>
                        <button type="button" id="size_1028416002003" data-code="1028416002003" class="blue" data-value="blue">Blue</button>
                        <p class="a-paragraph low-in-stock" style="display: none;">Low in stock!</p>
                    </div>
                    <p>Size</p>
                    <div id="sizes" class="size">
                        <button type="button" id="size_1028416002002" data-code="1028416002002" class="size-xs" data-value="XS">XS</button>
                        <button type="button" id="size_1028416002003" data-code="1028416002003" class="size-s" data-value="S">S</button>
                        <button type="button" id="size_1028416002004" data-code="1028416002004" class="size-m" data-value="M">M</button>
                        <button type="button" id="size_1028416002005" data-code="1028416002005" class="size-l" data-value="L">L</button>
                        <p class="a-paragraph low-in-stock" style="display: none;">Low in stock!</p>
                    </div>
                    <button>Add</button>
                </div>
            </div>
            <div class="p-card">
                <img class="s-img" src="Image/shop bild.jpg">
                <div class="price">
                    <p>Price </p>
                    <p>Color</p>
                    <div id="colors" class="color">
                        <button type="button" id="size_1028416002002" data-code="1028416002002" class="red" data-value="red">Red</button>
                        <button type="button" id="size_1028416002003" data-code="1028416002003" class="blue" data-value="blue">Blue</button>
                        <p class="a-paragraph low-in-stock" style="display: none;">Low in stock!</p>
                    </div>
                    <p>Size</p>
                    <div id="sizes" class="size">
                        <button type="button" id="size_1028416002002" data-code="1028416002002" class="size-xs" data-value="XS">XS</button>
                        <button type="button" id="size_1028416002003" data-code="1028416002003" class="size-s" data-value="S">S</button>
                        <button type="button" id="size_1028416002004" data-code="1028416002004" class="size-m" data-value="M">M</button>
                        <button type="button" id="size_1028416002005" data-code="1028416002005" class="size-l" data-value="L">L</button>
                        <p class="a-paragraph low-in-stock" style="display: none;">Low in stock!</p>
                    </div>
                    <button>Add</button>
                </div>
            </div>
            <div class="p-card">
                <img class="s-img" src="Image/shop bild.jpg">
                <div class="price">
                    <p>Price </p>
                    <p>Color</p>
                    <div id="colors" class="color">
                        <button type="button" id="size_1028416002002" data-code="1028416002002" class="red" data-value="red">Red</button>
                        <button type="button" id="size_1028416002003" data-code="1028416002003" class="blue" data-value="blue">Blue</button>
                        <p class="a-paragraph low-in-stock" style="display: none;">Low in stock!</p>
                    </div>
                    <p>Size</p>
                    <div id="sizes" class="size">
                        <button type="button" id="size_1028416002002" data-code="1028416002002" class="size-xs" data-value="XS">XS</button>
                        <button type="button" id="size_1028416002003" data-code="1028416002003" class="size-s" data-value="S">S</button>
                        <button type="button" id="size_1028416002004" data-code="1028416002004" class="size-m" data-value="M">M</button>
                        <button type="button" id="size_1028416002005" data-code="1028416002005" class="size-l" data-value="L">L</button>
                        <p class="a-paragraph low-in-stock" style="display: none;">Low in stock!</p>
                    </div>
                    <button>Add</button>
                </div>
            </div>
        </div>
    </div>





</div>

@*Test*@

@*Hej Hej*@

@*orkar inte mer*@
